.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.event-card {
  display: flex;
  flex-direction: column;
}
.event-card {
  img[mat-card-image] {
    height: 300px;         // Define una altura fija y más grande para la imagen.
    object-fit: cover;    // Asegura que la imagen cubra el espacio sin estirarse.
  }
}
mat-card-content {
  flex-grow: 1;
}