.sidebar-header {
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  color: white;
}

.mat-mdc-list-item {
  color: rgba(255, 255, 255, 0.8);

  .mdc-list-item__primary-text {
    color: inherit;
  }

  mat-icon {
    color: rgba(255, 255, 255, 0.8);
  }

  &.active-list-item,
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;

    mat-icon {
      color: white;
    }
  }
}